.brand {
  display: inline-block;
  color: light-dark(var(--mantine-primary-color-6), var(--mantine-primary-color-4));
}

.title {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #2563eb, #4f46e5);
  font-weight: bold;
}
